:root {
  --dragButton_height: 45px;
}
.container_div {
  display: grid;
  grid-template-columns: 5px auto 3px 20px;
  grid-template-rows: 1fr auto 1fr;
  width: fit-content;
  height: var(--dragButton_height);
  border-radius: calc(var(--dragButton_height) * 0.5);
  padding: 0 15px 0 15px;
}

.container_div h3 {
  grid-column: 2;
  grid-row: 2;
}

.container_div div {
  grid-column: 4;
  grid-row: 2;
  opacity: 0;
  background-color: transparent;
}
.container_div div:hover {
  opacity: 1;
}
