.container_to_center_div,
.container_to_side_div {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}
.container_to_center_div {
  align-items: center;
  justify-content: center;
}
.container_to_side_div {
  align-items: end;
  justify-content: center;
}
.container_to_center_div .baisc_div {
  width: 30%;
  height: 45%;
  display: grid;
  grid-template-columns: 75% 1fr;
  column-gap: 15px;
  align-items: end;
  margin-bottom: 8%;
  animation: scalingButtons0 1s infinite;
}

.container_to_center_div .record_div {
  width: 100%;
  aspect-ratio: 1 / 1;
  grid-column: 1;
}
.container_to_center_div .others_div {
  width: 100%;
  aspect-ratio: 1 / 1;
  grid-column: 2;
}

.container_to_side_div .baisc_div {
  width: 5%;
  margin-right: 2%;
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: end;
}

.container_to_side_div .record_div {
  grid-row: 1;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.container_to_side_div .others_div {
  grid-row: 2;
  width: 100%;
}

.container_to_center_div .others_div > * {
  margin-top: 20px;
  animation: scalingButtons1 0.5s ease-in-out infinite;
}
.setting_beat_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.setting_interval_div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scalingButtons0 {
  0% {
    width: 30%;
    column-gap: 15px;
  }
  35% {
    width: 35%;
    column-gap: 10px;
  }
  50% {
    width: 25%;
    column-gap: 25px;
  }
  100% {
    width: 30%;
    column-gap: 15px;
  }
}
@keyframes scalingButtons1 {
  0% {
    width: 100%;
    margin-top: 20px;
  }
  75% {
    width: 110%;
    margin-top: 15px;
  }
  100% {
    width: 100%;
    margin-top: 20px;
  }
}
